---
import { getCollection } from 'astro:content';
import Layout from '~/layouts/Layout.astro';
import UserCard from './_components/UserCard.astro';

let team = await getCollection("authors");
---

<Layout title="Credits" description='placeholder!'>
	<main class="p-5">
		<h1>The Team:</h1>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 list-none gap-4 py-5 flex-wrap">
			{
				team.map((member) => (
					<UserCard user={member}/>
				))
			}
		</div>
		<p>Totaling {team.length} amazing Team Members!</p>
		<p>If you are a part of the Team and would like a Name or Profile Picture changed, please ping <span class=" bg-secondary text-secondary-forground px-2 rounded-lg">@altie122</span> in <span class=" bg-secondary text-secondary-forground px-2 rounded-lg">#bleeding-stars-website</span>.</p>
	</main>
</Layout>
