---
import Avatar from '~/components/avatar.astro';

export type Props = {
	user: {
		slug: string;
		data: {
			name: string;
			role: string[];
			pfp: string;
		};
	};
};

const { user } = Astro.props;
---
<a href={'/credits/' + user.slug} class="flex items-center gap-2 bg-secondary text-secondary-foreground rounded-xl p-1">
	<Avatar name={user.slug} xl />
	<span>{user.data.name}<br/>Role(s): {user.data.role.map(role => String(role)).join(", ")}</span>
</a>