---
import YouTubeEmbed from '~/components/YouTubeEmbed.astro';
import Layout from '~/layouts/Layout.astro';


---

<Layout description='placeholder!'>
	<main class="prose">
    <YouTubeEmbed url="https://www.youtube.com/watch?v=87TdQAGmeOA" allowFullScreen/>
    <h1>This page is only for development, Please ignore! - &lt;h1&gt;</h1>
    <h2>This page is only for development, Please ignore! - &lt;h2&gt;</h2>
    <h3>This page is only for development, Please ignore! - &lt;h3&gt;</h3>
    <h4>This page is only for development, Please ignore! - &lt;h4&gt;</h4>
    <h5>This page is only for development, Please ignore! - &lt;h5&gt;</h5>
    <h6>This page is only for development, Please ignore! - &lt;h6&gt;</h6>
    
    <p>This page is only for development, Please ignore! - &lt;p&gt;</p>
    
    <a href="#">This page is only for development, Please ignore! - &lt;a&gt;</a><br/>
    <a href="#" class="external">This page is only for development, Please ignore! - &lt;a class="external"&gt;</a>
    
    <img src="/banner.jpg" alt="Banner Image">
    
    <br>
    
    <hr>
    
    <pre>
			This page is only for development, Please ignore! - &lt;pre&gt;

			This page is only for development, Please ignore! - &lt;pre&gt;
		</pre><br/>
    
    <blockquote>This page is only for development, Please ignore! - &lt;blockquote&gt;</blockquote><br/>
    
    <strong>This page is only for development, Please ignore! - &lt;strong&gt;</strong><br/>
    
    <em>This page is only for development, Please ignore! - &lt;em&gt;</em><br/>
    
    <code>This page is only for development, Please ignore! - &lt;code&gt;</code><br/>
    
    <abbr title="Hypertext Markup Language">This page is only for development, Please ignore! - &lt;abbr&gt;</abbr><br/>
    
    <cite>This page is only for development, Please ignore! - &lt;cite&gt;</cite><br/>
    
    <bdi>This page is only for development, Please ignore! - &lt;bdi&gt;</bdi><br/>
    
    <bdo dir="rtl">This page is only for development, Please ignore! - &lt;bdo dir="rtl"&gt;</bdo><br/>
    
    <q>This page is only for development, Please ignore! - &lt;q&gt;</q><br/>
    
    <sub>This page is only for development, Please ignore! - &lt;sub&gt;</sub><br/>
    
    <sup>This page is only for development, Please ignore! - &lt;sup&gt;</sup><br/>
    
    <del>This page is only for development, Please ignore! - &lt;del&gt;</del><br/>
    
    <ins>This page is only for development, Please ignore! - &lt;ins&gt;</ins><br/>
    
    <dfn>This page is only for development, Please ignore! - &lt;dfn&gt;</dfn><br/>
    
    <data value="123">This page is only for development, Please ignore! - &lt;data&gt;</data><br/>
    
    <time datetime="2024-05-12">This page is only for development, Please ignore! - &lt;time&gt;</time><br/>
    
    <var>This page is only for development, Please ignore! - &lt;var&gt;</var><br/>
    
    <samp>This page is only for development, Please ignore! - &lt;samp&gt;</samp><br/>
    
    <kbd>This page is only for development, Please ignore! - &lt;kbd&gt;</kbd><br/>
    
    <mark>This page is only for development, Please ignore! - &lt;mark&gt;</mark><br/>
    
    <ruby>This page is only for development, Please ignore! - &lt;ruby&gt;<rp>(</rp><rt>rt</rt><rp>)</rp></ruby><br/>
    
    <rt>This page is only for development, Please ignore! - &lt;rt&gt;</rt><br/>
    
    <rp>This page is only for development, Please ignore! - &lt;rp&gt;</rp>
    
    <wbr>
    
    <div>This page is only for development, Please ignore! - &lt;div&gt;</div>
    
    <span>This page is only for development, Please ignore! - &lt;span&gt;</span>
    
    <header>This page is only for development, Please ignore! - &lt;header&gt;</header>
    
    <footer>This page is only for development, Please ignore! - &lt;footer&gt;</footer>
    
    <main>This page is only for development, Please ignore! - &lt;main&gt;</main>
    
    <article>This page is only for development, Please ignore! - &lt;article&gt;</article>
    
    <section>This page is only for development, Please ignore! - &lt;section&gt;</section>
    
    <nav>This page is only for development, Please ignore! - &lt;nav&gt;</nav>
    
    <aside>This page is only for development, Please ignore! - &lt;aside&gt;</aside>
    
    <address>This page is only for development, Please ignore! - &lt;address&gt;</address>
    
    <figure>
        <figcaption>This page is only for development, Please ignore! - &lt;figcaption&gt;</figcaption>
        <img src="/banner.jpg" alt="Banner Image">
    </figure>
    
    <video controls>
        <source src="/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    
    <audio controls>
        <source src="/fnaf.mp3" type="audio/mp3">
        Your browser does not support the audio tag.
    </audio>
    
    <iframe src="https://www.youtube-nocookie.com/embed/87TdQAGmeOA" frameborder="0" allowfullscreen />
    
    <iframe src="https://bleedingstars.dovahkiin.xyz" frameborder="0" />
    
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <br>
        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
    
    <table border="1">
        <tr>
            <th>This page is only for development, Please ignore! - &lt;th&gt;</th>
            <th>This page is only for development, Please ignore! - &lt;th&gt;</th>
        </tr>
        <tr>
            <td>This page is only for development, Please ignore! - &lt;td&gt;</td>
            <td>This page is only for development, Please ignore! - &lt;td&gt;</td>
        </tr>
    </table>
    
    <ul>
        <li>This page is only for development, Please ignore! - &lt;li&gt;</li>
        <li>This page is only for development, Please ignore! - &lt;li&gt;</li>
        <li>This page is only for development, Please ignore! - &lt;li&gt;</li>
    </ul>
    
    <ol>
        <li>This page is only for development, Please ignore! - &lt;li&gt;</li>
        <li>This page is only for development, Please ignore! - &lt;li&gt;</li>
        <li>This page is only for development, Please ignore! - &lt;li&gt;</li>
    </ol>
    
    <dl>
        <dt>This page is only for development, Please ignore! - &lt;dt&gt;</dt>
        <dd>This page is only for development, Please ignore! - &lt;dd&gt;</dd>
        <dt>This page is only for development, Please ignore! - &lt;dt&gt;</dt>
        <dd>This page is only for development, Please ignore! - &lt;dd&gt;</dd>
    </dl>
    
    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
    <br />
    <button>This page is only for development, Please ignore! - &lt;button&gt;</button>
    
    <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000;">This page is only for development, Please ignore! - &lt;canvas&gt;</canvas>
    
    <meter value="2" min="0" max="10">2 out of 10</meter>
    
    <progress value="70" max="100">70%</progress>
    
    <details>
        <summary>This page is only for development, Please ignore! - &lt;summary&gt;</summary>
        <p>This page is only for development, Please ignore! - &lt;p&gt;</p>
    </details>
    
    <dialog open>This page is only for development, Please ignore! - &lt;dialog&gt;</dialog>
    
    <output>This page is only for development, Please ignore! - &lt;output&gt;</output>
    
    <iframe src="https://bleedingstars.dovahkiin.xyz" sandbox="" />
	<div class="banner">This page is only for development, Please ignore! - &lt;div class="banner"&gt;</div>

    <br />

	</main>
</Layout>