---
import { YoutubeButton } from './SocialButtons'

interface Props {
}
---
<footer class="min-h-16 flex flex-row bg-secondary text-secondary-forground">
  <div class=" basis-1/3 p-2 text-left h-full place-content-center">
    <!-- <img src="/icon.png" height="36" width="36"> -->
    <p>Copyright © 2024 - All right reserved</p>
  </div>
  <div class=" basis-1/3 p-2 text-left h-full place-content-center">
    <div data-netlify-identity-menu></div>
  </div>
  <div class=" basis-1/3 p-2 text-left h-full justify-content-center flex flex-row place-content-end gap-2">
    <YoutubeButton />
  </div>
</footer>