---
interface Props {
}
import { ModeToggle } from '@/components/ModeToggle';
import { Button } from '@/components/ui/button';
import { DiscordButton } from './SocialButtons';
import { NavDrawer } from './NavDrawer';
---
<div class="h-16 flex flex-row bg-secondary text-secondary-forground">
  <!-- left third -->
  <div class=" basis-1/3 p-2 text-left h-full place-content-center">
    <NavDrawer client:only/>
  </div>
  <!-- center third -->
  <div class=" basis-1/3 p-2 text-center h-full place-content-center">
    <a href="/"><Button variant={'ghost'} size={'lg'}>Bleeding Stars</Button></a>
  </div>
  <!-- right third -->
  <div class=" basis-1/3 p-2 text-right h-full justify-content-center flex flex-row place-content-end gap-2">
    <DiscordButton />
    <ModeToggle client:only/>
  </div>
</div>